
/*ボタンの基本設定*/
.btn{
  margin-right: 10%;/*要素間の間隔*/
  margin-top: 10%;/*要素間の間隔*/
  font-size: 45px;
  display: inline-block;/*パディングの重複防止*/
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668AD8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;/*ボタンの影*/
  border-radius: 3px;
  /*ボタンサイズ*/
  height: 120px;
  width: 340px;
}

.btn:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

/*ボタンを右端に寄せる*/
#btnR{
  float: right;
  margin-right: 150px;
}

/*ラジオボタンの設定*/
.bx{
  margin-top: 10%;
  margin-left: 20%;
  font-size: 90px;
  width: 200px;
  height: 200px;
}

/*PHP文内にある文字の文字サイズ*/
.se{
  margin-left: 20%;
  color: #F00;
}


/*会計内容について*/
.line1 {
    width: 800px;
    padding: 0.5em 1em;
    margin: 2em 3px; /*20%;*/
    border: double 5px #4ec4d3;
    background-color: #FFF;
    font-size: 40px;
}
.line1 p {
    margin: 0;
    padding: 0;
}

/*全体の基本的な設定*/
body{
  margin-left: 5%;
  font-size: 80px;
  background-color:#FFFFBB;
  /*
  FFFFCC
  FFFF99
  F5FFFA
  */
}
