
/*ボタンのプロパティ*/
.btn{
  margin: 50px 20px;/*要素間の間隔*/
  font-size: 50px;/*文字サイズ*/
  display: inline-block;/*パディングの重複対策*/
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668AD8;/*ボタン色*/
  color: #FFF;/*文字色*/
  border-bottom: solid 4px #627295;/*ボタンの影*/
  border-radius: 3px;
  /*ボタンサイズ*/
  height: 130px;
  width: 250px;
}

.btn:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.btnE{

  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 40px;
  font-size: 30px;/*文字サイズ*/
  display: inline-block;/*パディングの重複対策*/
  padding: 4px 1em;
  text-decoration: none;
  background: #668AD8;/*ボタン色*/
  color: #FFF;/*文字色*/
  border-bottom: solid 4px #627295;/*ボタンの影*/
  border-radius: 3px;
  /*ボタンサイズ*/
  height: 55px;
  width: 200px;
}

.btnE:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

#btnR{
  margin-left: 40%;
}

/*定義リストの設定*/
/*定義語欄の設定*/
form dl dt{
  width: 350px;
  padding:5px 0;
  float:left;
  clear:both;
  font-size: 40px;
}
/*定義説明欄の設定*/
form dl dd{
  font-size: 30px;
  padding:5px 0;
}

/*表の設定*/
/*基本設定*/
table{
  width: 100%;
  border-collapse: collapse;
}
/*全体の設定*/
table tr{
  width: auto;
  text-align: center;
  background-color: #FFFFFF;
  font-size: 40px;
}
/*目次の設定*/
table th{
  width: auto;
  font-size:40px;
  background-color: #000080;
  color: #FFFFFF;
}
/*内容の設定*/
table td{
  font-size: 40px;
  background-color: #FFF;
}

/*ラジオボタンのプロパティ*/
.bx{
  font-size: 40px;
  height: 60px;
  width: 350px;
}

/*チェックボックスの設定*/
.chekbox{
  margin-top: 5px;
  margin-bottom: 20px;
  transform:scale(3);/*チェックボックスのサイズ*/
}

#check{
  font-size: 50px;
}

/*全体の設定*/
body{
  font-size: 40px;
  background-color:#BBFFFF;
/*  #99CCCC;
     99CCFF
*/
}
